<link href="resources/css/registration.css" rel="stylesheet">

<header class="heading">Add Job</header><hr></hr>
<span style="color:red;">{{error.errorMessage}}</span>
<div ng-show="user.role!='ADMIN'">Access denied...</div>
<div ng-show="user.role=='ADMIN'">
<form>


	 <!--- For Name---->
         <div class="col-sm-12">
             <div class="row">
			     <div class="col-xs-4">
 					<label class="longlabel">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Job Title :</label> </div>
		        	 <div class="col-xs-8">
		             <input type="text" ng-model="job.jobTitle" placeholder="Enter Job Title" class="form-control">
            	 </div>
		      </div>
		 </div>
		 
		  <div class="col-sm-12">
		     <div class="row">
			     <div class="col-xs-4">
                     <label class="longlabel">Job Description :</label></div>
				<div class ="col-xs-8">	 
		             <textarea ng-model="job.jobDescription" placeholder="Enter Job Description" class="form-control"></textarea>
                </div>
		     </div>
		 </div>
		 
		  <div class="col-sm-12">
		     <div class="row">
			     <div class="col-xs-4">
		             <label class="longlabel" >&nbsp;&nbsp;&nbsp;Job Location :</label></div>
			     <div class="col-xs-8"	>	 
			          <input type="text" ng-model="job.location" placeholder="Enter Job Location" class="form-control" >
		         </div>
		     </div>
		 </div>
		 
		 <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="longlabel">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Salary :</label></div>
				  <div class="col-xs-8">
			             <input type="text" ng-model="job.salary" placeholder="Enter Job Salary" class="form-control">
				 </div>
          </div>
		  </div>
		
		  <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="longlabel">Skills Required :</label></div>
				  <div class="col-xs-8">
			             <input type="text" ng-model="job.skillsRequired" placeholder="Enter Skills Required" class="form-control">
				 </div>
          </div>
		  </div>
		  
		   <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="verylong">Years Of Experience :</label></div>
				  <div class="col-xs-8">
			             <input type="text" ng-model="job.yrsOfExp" placeholder="Enter Years Of Experience" class="form-control">
				 </div>
          </div>
		  </div>
		  
		   <div class="col-sm-12">
		         <div class="row">
				     <div class="col-xs-4">
		 	              <label class="longlabel">Company Name :</label></div>
				  <div class="col-xs-8">
			             <input type="text" ng-model="job.companyName" placeholder="Enter Company Name" class="form-control">
				 </div>
          </div>
		  </div>
		  
		  
		 
		   <div class="col-sm-12">
		         <div class="sbutton btn btn-warning" ng-click="addJob(job)">Add Job</div>
		   </div>
		 		 <br><br>
		</form>
	</div>
<!-- <span style="color:red;">{{error.errorMessage}}</span>
<div ng-show="user.role!='ADMIN'">Access denied...</div>
<div ng-show="user.role=='ADMIN'">
<form>
Enter Job Title:<input type="text" ng-model="job.jobTitle" /><br>
Enter Job Description:<textarea ng-model="job.jobDescription"></textarea><br>
Enter Job Location:<input type="text" ng-model="job.location"/><br>
Enter Job Salary:<input type="text" ng-model="job.salary"/><br>
Enter Skills Required  : <input type="text" ng-model="job.skillsRequired"><br>
Enter Years of Exp  : <input type="text" ng-model="job.yrsOfExp"><br>
Enter Company name  : <input type="text" ng-model="job.companyName"><br>
<button class="btn btn-info" ng-click="addJob(job)">Add Job</button>
</form>
</div> -->