<link href="resources/css/panel.css" rel="stylesheet">

	<div class="panel panel-info panelcontainer">
		<div class="panel-heading">
			<b>List of Jobs Waiting For Approval</b>
		</div>
		<div class="panel-body fcolor">
		<span style="color:red" ng-show="user.role!='ADMIN'">Access Denied</span>
		<div class="container" ng-show="user.role=='ADMIN'">
		<b ng-show="jobApplications.length==0">No Jobs Waiting For Approval </b>
		<ul style="list-style:none;">
		<li ng-repeat="jobapp in jobApplications">
		<a href="#/getblogapprovalform/{{blog.id}}"><b>Job Title: </b>{{jobapp.jobAppliedFor.jobTitle}}</a><br>
		<b>Applied By:</b>{{jobapp.jobApplicant.firstname}}&nbsp; {{jobapp.jobApplicant.lastname}}<br>
		<!-- firstname and lastname of the user who posted the blog -->
		<b>Applicant Email Id:</b>{{jobapp.jobApplicant.email}}
		<br>
		<b>Applicant Phone No:</b>{{jobapp.jobApplicant.phonenumber}}
		<button ng-click="approve(jobapp.id)" class="btn btn-info">Approve</button>&nbsp;<button ng-click="showTxtForRejectionReason()" class="btn btn-danger">Reject</button>
<div ng-show="isRejected"><input type="text" ng-model="rejectionReason"><button ng-click="reject(jobapp,rejectionReason)" class="btn btn-info" type="submit">Submit</button></div>
		<hr>
		</li>
		</ul>
		</div>
	</div>
</div>